* {
    font-family: Arial, Helvetica, sans-serif;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

td, th {
    border: 1px solid black;
    padding: 12px;
    text-align: center;
    align-items: center;
}

input {
    width: 230px;
    padding: 15px;
}

.add-button {
    padding: 15px;
    margin-left: 10px;
    background-color: white;
    border: 3px solid rgb(95, 255, 95);
    border-radius: 5px;
    transition: all 0.3s ease;
    font-family: Arial, Helvetica, sans-serif;
    font: bold;
}

.add-button:hover {
    background-color: rgb(95, 255, 95);
    transform: scale(1.1);
}

.hapus {
    padding: 10px 30px;
    margin-left: 5px;
    background-color: rgb(255, 88, 88);
    color: white;
    border-radius: 5px;
    font-weight: bold;
}

.edit {
    padding: 10px 30px;
    margin-left: 5px;
    background-color: rgb(88, 116, 255);
    color: white;
    border-radius: 5px;
    font-weight: bold;
}



.save {
    padding: 10px 30px;
    margin-left: 5px;
    background-color: rgb(241, 170, 28);
    color: white;
    border-radius: 5px;
    font-weight: bold;
}